
$black: #323232;
$instock-blue: #004892;
$instock-blue-dark: #002F5F;
$brainﬂix-blue: #0095FF;
$brainﬂix-blue-dark: #0065AD;
$white: #FFFFFF;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;



